@* @page "/errorpassword" *@
@{
    Layout = null;
}
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Authorization.SingleService.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <div class="container h-100" style="display:grid; align-content: center;">
        <div class="form-horizontal">
            <img style="height:250px;" src="~/timeout.png" alt="" />
            <h3 class="heading">Ваша ссылка содержит ошибку, или срок её действия истёк.</h3>
            <div>
                <div class="form-group" style="max-width: 420px; margin-bottom: 15px">
                    <h5>
                        Используйте другую ссылку, чтобы поменять пароль.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</body>