@{
    ViewData["Title"] = "Авторы";
}

<h1 class="text-center text-uppercase m-4" style="font-weight: 800">@ViewData["Title"]</h1>

<div class="d-flex justify-content-center flex-wrap mb-3" style="gap: 20px">
    
    <div class="card text-center card-avtor m-0">
        <img src="~/Kjs.jpg" class="card-img-top avatar">
        <div class="card-body">
            <h5 class="card-title">Kjs</h5>
            <p class="card-text">Главный по Excel</p>
        </div>
    </div>
    <div class="card text-center card-avtor m-0">
        <img src="~/Stukoww.jpg" class="card-img-top avatar">
        <div class="card-body">
            <h5 class="card-title">Stukow</h5>
            <p class="card-text">Главный по телеграмму и дежурствам</p>
        </div>
    </div>
    <div class="card text-center card-avtor m-0">
        <img src="~/vann.jpeg" class="card-img-top avatar">
        <div class="card-body">
            <h5 class="card-title">Prodi-G</h5>
            <p class="card-text">Наш сенсей</p>
        </div>
    </div>
    <div class="card text-center card-avtor m-0">
        <img src="~/Flexsupers.jpg" class="card-img-top avatar">
        <div class="card-body" >
            <h5 class="card-title">FlexSupers</h5>
            <p class="card-text">Главный по дизайну и PDF</p>
        </div>
    </div>
    <div class="card text-center card-avtor m-0">
        <img src="~/marblefade.jpg" class="card-img-top avatar">
        <div class="card-body" >
            <h5 class="card-title">Marblefade</h5>
            <p class="card-text">Главный по авторизации</p>
        </div>
    </div>
</div>